/*
PALETA DE COLORES:

COLOR PRINCIPAL: #586074
COLOR TEXTOS: #f4f3ee
COLOR FORM: #81A895

background-image: url("../img/fondo1.jpg");

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

.hero {
    background-image: linear-gradient(to left, rgba(35, 56, 72, 0.612) 0%, #517fa4 100%);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero {
    height: 500px;
    color: #f4f3ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1 {
    font-size: 60px;
}

.textos-hero p {
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a {
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #81A895;
    border-radius: 8px;
    color: #fff;
}

.svg-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos Generales */

.contenedor,
.wave-contenedor {
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}

.contenedor {
    padding: 80px 0;
}

.titulo {
    font-weight: 200;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left {
    text-align: left;
}

.titulo.right {
    text-align: right;
}

/* SECCION */

.website {
    display: flex;
    justify-content: space-between;
}

.main img {
    width: 50%;
}

.main .contenedor-textos-main {
    width: 50%;
}

.parrafo {
    text-align: justify;
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    text-decoration: none;
    background: #81a895c4;
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}


/* INFORMACION */

.info {
    background-image: linear-gradient(to left, rgba(35, 56, 72, 0.612) 0%, #517fa4 100%);
    color: #fff;
}

/* CARDS */

.content-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.cards:hover:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.cards i {
    margin: 30px 0 20px 0;
    color: #81A895;
    font-size: 50px;
}

.cards p {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}

/* GALERIA */

.galeria {
    background: #f4f3ee;
}

.galeria-contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-contenedor img {
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}

/* INFO 2 */

.last-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img {
    width: 50%;
}

.last-section .contenedor-textos-main {
    width: 40%;
}


/* FOOTER */


footer {
    background-image: linear-gradient(to bottom, #233848 0%, #517fa4 100%);
    color: #fff;
}


.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    padding: 20px 10px;
}


.input::placeholder {
    color: #fff;
    font-family: 'raleway', sans-serif;
    font-size: 500;
}

input[type="text"],
input[type="email"] {
    display: inline-block;
    width: 50%;
    margin-bottom: 30px;
}

.form textarea {
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover {
    cursor: pointer;
    color: #fff;
    background: #81A895;
}


@media screen and (max-width: 800px) {
    .textos-hero h1 {
        text-align: center;
        font-size: 50px;
    }

    /* ESTILOS GENERALES */

    .titulo {
        font-size: 25px;
    }

    .titulo.left {
        text-align: center;
    }

    .titulo.right {
        text-align: center;
    }

    .info p {
        text-align: center;
    }

    /* SECCION */

    .website {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img {
        width: 100%;
    }

    .website .contenedor-textos-main {
        width: 100%;
    }

    /* CARDS */
    
    .cards {
        width: 90%;
        margin-bottom: 20px;
    }

    /* GALERIA */

    .galeria-contenedor img {
        width: 50%;
    }

    /* ULTIMA SECCION */

    .last-section img {
        width: 100%;
    }

    .last-section .contenedor-textos-main {
        width: 100%;
        margin-bottom: 20px;
    }
    
}

@media screen and (max-width: 400px) {

    .titulo,
    .textos-hero h1 {
        font-size: 30px;
    }

    .textos-hero p {
        font-size: 20px;
        text-align: center;
    }

    .website .contenedor-textos-main {
        margin-bottom: 20px;
    }

    .cards {
        height: 380px;
    }

    .galeria-contenedor img {
        width: 100%;
    }
}